*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos generales para el menú de navegación */
#main-nav{
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#main-nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

#main-nav ul li a{
    color: aliceblue;
    text-decoration: none;
}